@model ProjectTravel.Models.Post

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<PostComment> postComment = ViewBag.postComment;
}


<div class="hero overlay">
	<div class="img-bg rellax">
		<img src="@Model.Images" alt="Image" class="img-fluid">
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-start">
			<div class="col-lg-6 mx-auto text-center">
				<p>Đăng bởi <a href="#">@Html.DisplayFor(m => m.Author)</a> vào ngày <a href="#">@Model.CreatedDate.ToString("dd/MM/yyyy")</a></p>
				<h1 class="heading" data-aos="fade-up">@Html.DisplayFor(m => m.Title)</h1>
@* 				<p data-aos="fade-up">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
 *@			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 blog-content pe-5">
				<p class="lead">@Html.Raw(Model.Abstract)</p>
				<p>@Html.Raw(Model.Contents)</p>

				

				<div class="pt-5">
					<p>Categories:  <a href="#">Design</a>, <a href="#">Events</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
				</div>


				<div id="post_comment" class="pt-5">
					<h3 class="mb-5">@postComment.Count() Bình luận</h3>
					
					<ul class="comment-list">
						@foreach (var item in postComment)
						{
							<li class="comment">
								<div class="vcard bio">
									<img src="/files/avatar/avt-default.jpg" alt="">
								</div>
								<div class="comment-body">
									<h3>@item.Name</h3>
									<div class="meta">@item.CreatedDate</div>
									<p>@item.Contents</p>
									<p><a href="#" class="reply">Reply</a></p>
								</div>
							</li>
						}
					</ul>
				</div>
					<!-- END comment-list -->



				<div class="comment-form-wrap pt-5">
						<h3 class="mb-5">Hãy để lại bình luận</h3>
						<form action="#" class="">
							<div class="mb-3">
								<label for="name">Name *</label>
								<input type="text" class="form-control" id="c_name">
							</div>
							<div class="mb-3">
								<label for="email">Email *</label>
								<input type="email" class="form-control" id="c_email">
							</div>
							<div class="mb-3">
								<label for="phone">Phone</label>
								<input type="text" class="form-control" id="c_phone">
							</div>

							<div class="mb-3">
								<label for="message">Message</label>
								<textarea name="" id="c_message" cols="30" rows="10" class="form-control"></textarea>
							</div>
							<div class="mb-3">
								<input type="button" value="submit" id="c_submit" class="btn btn-primary btn-md text-white">
							</div>

						</form>
				</div>
				

			</div>
		</div>
	</div>
</div>
<input type="hidden" id="post_id" value="@Model.PostID" />
@section Scripts{
	<script>
		$(document).ready(function () {
			$("#c_submit").click(function () {
				_id = $("#post_id").val();
				_name = $("#c_name").val();
				_phone = $("#c_phone").val();
				_email = $("#c_email").val();
				_message = $("#c_message").val();
				$.ajax({
					url: "/Home/Create",
					type: "POST",
					data: { id: _id, name: _name, phone: _phone, email: _email, message: _message },
					success: function (result) {
						if (result != null) {
							$("#c_name").val("");
							$("#c_phone").val("");
							$("#c_email").val("");
							$("#c_message").val("");
							_date = Untils.getCurrentDate();
							toastr.success('Gửi thành công');
							_sHtml = '<ul class="comment-list"> <li class="comment"> <div class="vcard bio"> <img src="/files/avatar/avt-default.jpg" alt=""> </div> <div class="comment-body"> <h3>' + _name + '</h3> <div class="meta">' + _date + '</div> <p>' + _message + '</p> <p><a href="#" class="reply">Reply</a></p> </div> </li> </ul>'
							$("#post_comment").append(_sHtml);
						}
						else {
							toastr.success('Gửi không thành công');
						}
					}
				})
			});
		})
	</script>
}