@using ProjectTravel.Models;
@model IList<Post>

<div class="wrapper">
    <main id="main" class="main">
        <div class="pagetitle">
            <h2>Danh sách bài viết</h2>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item">Quản lý bài viết</li>
                    <li class="breadcrumb-item active">Danh sách bài viết</li>
                </ol>
            </nav>
        </div>

        <p>
            <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Post" asp-action="Create">
                <i class="bi bi-file-earmark-text me-1"></i> Thêm bài viết
            </a>
        </p>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <form asp-area="Admin" asp-controller="Post" asp-action="Index">
                                    <p>
                                        Tiêu đề: <input type="text" name="SearchString" />
                                        <input type="submit" value="Filter" />
                                    </p>
                                </form>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Hình ảnh</th>
                                            <th>Tiêu đề</th>
                                            <td>Tác giả</td>
                                            <td>Ngày đăng</td>
                                            <td>Nổi bật</td>
                                            <td>Hiển thị</td>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>@item.PostID</th>
                                                <td>
                                                    <img src="@item.Images" width="80px">
                                                </td>
                                                <td>@item.Title</td>
                                                <td>@item.Author</td>
                                                <td>@item.CreatedDate</td>
                                                <td>
                                                    @if (item.IsFeatured == true)
                                                    {
                                                        <a asp-area="Admin" asp-controller="FeaturedPost" asp-action="Edit"
                                                           asp-route-id="@item.PostID" class="btn btn-primary btn-sm"
                                                        title="Nổi bật"><i class="bi bi-star-fill"></i></a>
                                                    } else
                                                    {
                                                        <a asp-area="Admin" asp-controller="FeaturedPost" asp-action="Edit"
                                                           asp-route-id="@item.PostID" class="btn btn-danger btn-sm"
                                                           title="Bỏ nổi bật"><i class="bi bi-star-fill"></i></a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.IsActive == true)
                                                    {
                                                        <a asp-area="Admin" asp-controller="Post" asp-action="Edit"
                                                           asp-route-id="@item.PostID" class="btn btn-primary btn-sm"
                                                           title="Nổi bật"><i class="bi bi-eye"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-area="Admin" asp-controller="Post" asp-action="Edit"
                                                           asp-route-id="@item.PostID" class="btn btn-danger btn-sm"
                                                           title="Bỏ nổi bật"><i class="bi bi-eye"></i></a>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-area="Admin" asp-controller="Post" asp-action="Edit"
                                                       asp-route-id="@item.PostID" class="btn btn-primary btn-sm"
                                                       title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>

                                                    <a asp-area="Admin" asp-controller="Post" asp-action="Delete"
                                                       asp-route-id="@item.PostID" class="btn btn-danger btn-sm"
                                                       title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>


    </main>
</div>

@* @section Scripts {
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                _id = $(this).data("id");
                if (confirm("Bạn có muốn xóa không")) {
                    $.ajax({
                        url: "/admin/categories/delete",
                        type: "POST",
                        data: { id: _id },
                        success: function (result) {
                            if (result) {
                                $("#tr_" + _id).remove();
                                toastr.success('Xóa thành công');
                            }
                            else {
                                toastr.error('Xóa không thành công');
                            }
                        }
                    })
                }

            });
        })
    </script>
} *@