@using ProjectTravel.Models;
@model IList<Service>

<div class="wrapper">
    <main id="main" class="main">
        <div class="pagetitle">
            <h2>Danh sách dịch vụ</h2>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item">Quản lý dịch vụ</li>
                    <li class="breadcrumb-item active">Danh sách dịch vụ</li>
                </ol>
            </nav>
        </div>

        <section class="content">
            <p>
                <a type="button" class="text-white btn btn-app bg-success" asp-area="Admin" asp-controller="Service" asp-action="Create">
                    <i class="ri-add-circle-line me-1"></i>Thêm dịch vụ
                </a>
            </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên dịch vụ</th>
                                            <th>Liên kết</th>
                                            <td>Ẩn/Hiện</td>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>@item.ServiceID</th>
                                                <td>@item.ServiceName</td>
                                                <td>@item.Link</td>
                                                <td>@item.IsActive</td>
                                                <td>
                                                    <a asp-area="Admin" asp-controller="Service" asp-action="Edit"
                                                       asp-route-id="@item.ServiceID" class="btn btn-primary btn-sm"
                                                       title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>

                                                    <a asp-area="Admin" asp-controller="Service" asp-action="Delete"
                                                       asp-route-id="@item.ServiceID" class="btn btn-danger btn-sm"
                                                       title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>


    </main>
</div>