@using ProjectTravel.Models;
@using ProjectTravel.Ultilities;
@model IList<Post>


<style>
	.title {
		display: block;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* số dòng hiển thị */
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.short-desc {
		display: block;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* số dòng hiển thị */
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div class="ftco-section">
	<div class="container">

		<div class="row d-flex align-items-stretch">
			@foreach (var item in Model)
			{
				string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="blog-single.html" class="block-20" style="background-image: url('@item.Images');">
						</a>
						<div class="text">
							<div class="d-flex align-items-center mb-4 topp">
								<div class="one">
									<span class="day">@item.CreatedDate.Day.ToString()</span>
								</div>
								<div class="two">
									<span class="mos">@Functions.ConvertToVietnameseMonth(item.CreatedDate.Month)</span>
									<span class="yr">@item.CreatedDate.Year.ToString()</span>
								</div>
							</div>
							<h3 class="heading title"><a href="@url">@item.Title</a></h3>
							<p class="short-desc">@item.Abstract</p>
							<p><a href="@url" class="btn btn-primary">Đọc thêm</a></p>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>
